.box {
    background-color: rgba(255,0,0,.5);
}




/*  COLOR NAMES LIST: 
    https://www.w3schools.com/cssref/css_colors.asp 
    */

/*  COLOR TYPES: 
    https://www.w3schools.com/cssref/css_colors_legal.asp 
    */

/*  ONLINE COLOR TOOLS: 
    https://htmlcolorcodes.com/
    https://coolors.co     
    */